@import url(main.css);

/* Layout */

:root {
    --timg-img-size: 40px;
}

/* Main form body */

.form-body {
    padding: 0px var(--side-margin);
    padding-top: var(--nav-bar-height);
}

main > form {
    max-width: 280px;
    margin: 2rem auto;
    margin-bottom: 3rem;
}

/* Input groups */

.input-group {
    margin-bottom: 1rem;
}

.input-group > * {
    display: block;
}

.input-group input, .input-group textarea {
    padding: .25rem;
    width: 100%;
}

.input-group.inline > * {
    display: inline;
}

.input-group.inline input {
    width: initial;
}

.input-group .error-msg {
    padding-top: .5rem;
}

.input-group button {
    margin: 0% auto;
    padding: .5rem;
}

/* Blog form */

main > .sec-form {
    max-width: 360px;
    margin: 2rem auto;
    margin-bottom: 3rem;
}

/* Blog editor */

main > form.resume-editor {
    width: 80%;
    max-width: none;
    min-width: 320px;
}

.resume-editor .input-group input, .resume-editor .input-group textarea {
    width: 90%;
}

.res-basics-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "city-field state-field"
        "email-field email-field";
}

.res-basics-form .input-group:nth-child(1) {
    grid-area: city-field;
}

.res-basics-form .input-group:nth-child(2) {
    grid-area: state-field;
}

.res-basics-form .input-group:nth-child(3) {
    grid-area: email-field;
}

.res-profiles-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "prof1-field prof2-field"
        "prof3-field prof3-field";
}

.res-profiles-form .input-group:nth-child(1) {
    grid-area: prof1-field;
}

.res-profiles-form .input-group:nth-child(2) {
    grid-area: prof2-field;
}

.res-profiles-form .input-group:nth-child(3) {
    grid-area: prof3-field;
}

.res-summary-form {
    margin-bottom: 2rem;
}

.skillAndLangForm {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "skill-field langs-field";
}

.skillAndLangForm .input-group:nth-child(1) {
    grid-area: skill-field;
}

.skillAndLangForm .input-group:nth-child(2) {
    grid-area: langs-field;
}

.resume-editor .input-group label button {
    padding: 0% .25rem;
    cursor: pointer;
}

.add-skill, .add-work, .add-project {
    height: 3rem;
    width: 100%;
}

.add-skill button, .add-work button, .add-project button {
    width: 75%;
    margin: 0% auto;
    display: block;
}

/* Work experience */

.work-form {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "work-name-field work-name-field"
        "work-position-field work-position-field"
        "work-location-field work-location-field"
        "work-stdt-field work-endt-field"
        "work-summ-field work-summ-field"
        "work-url-field work-url-field"
        "work-high-field work-high-field"
        "work-timg-field work-timg-field";
}

.work-form .input-group:nth-child(1) {
    grid-area: work-name-field;
}

.work-form .input-group:nth-child(2) {
    grid-area: work-position-field;
}

.work-form .input-group:nth-child(3) {
    grid-area: work-location-field;
}

.work-form .input-group:nth-child(4) {
    grid-area: work-stdt-field;
}

.work-form .input-group:nth-child(5) {
    grid-area: work-endt-field;
}

.work-form .input-group:nth-child(6) {
    grid-area: work-summ-field;
}

.work-form .input-group:nth-child(7) {
    grid-area: work-url-field;
}

.work-form .input-group:nth-child(8) {
    grid-area: work-high-field;
}

.work-timg-field {
    grid-area: work-timg-field;
}

/* Portfolio */

.proj-form {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "proj-name-field proj-name-field"
        "proj-entity-field proj-entity-field"
        "proj-type-field proj-type-field"
        "proj-stdt-field proj-endt-field"
        "proj-roles-field proj-roles-field"
        "proj-url-field proj-url-field"
        "proj-desc-field proj-desc-field"
        "proj-high-field proj-high-field"
        "proj-keys-field proj-keys-field"
        "proj-timg-field proj-timg-field";
}

.proj-form .input-group:nth-child(1) {
    grid-area: proj-name-field;
}

.proj-form .input-group:nth-child(2) {
    grid-area: proj-entity-field;
}

.proj-form .input-group:nth-child(3) {
    grid-area: proj-type-field;
}

.proj-form .input-group:nth-child(4) {
    grid-area: proj-stdt-field;
}

.proj-form .input-group:nth-child(5) {
    grid-area: proj-endt-field;
}

.proj-form .input-group:nth-child(6) {
    grid-area: proj-roles-field;
}

.proj-form .input-group:nth-child(7) {
    grid-area: proj-url-field;
}

.proj-form .input-group:nth-child(8) {
    grid-area: proj-desc-field;
}

.proj-form .input-group:nth-child(9) {
    grid-area: proj-high-field;
}

.proj-form .input-group:nth-child(10) {
    grid-area: proj-keys-field;
}

.proj-timg-field {
    grid-area: proj-timg-field;
}

.work-timg-field, .proj-timg-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work-add-timg, .proj-add-timg {
    width: fit-content;
    padding: .25rem .5rem;
    cursor: pointer;
}

.timg-preview {
    width: var(--timg-img-size);
    margin-right: 1rem;
}

.timg-preview img {
    width: 100%;
}

@media screen and (min-width: 560px) {
    .res-basics-form {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "city-field state-field email-field";
    }

    .work-form {
        grid-template-areas:
            "work-name-field work-position-field"
            "work-location-field work-location-field"
            "work-stdt-field work-endt-field"
            "work-summ-field work-url-field"
            "work-high-field work-high-field"
            "work-timg-field work-timg-field";
    }

    .proj-form {
        grid-template-areas:
            "proj-name-field proj-entity-field"
            "proj-type-field proj-type-field"
            "proj-stdt-field proj-endt-field"
            "proj-roles-field proj-url-field"
            "proj-desc-field proj-desc-field"
            "proj-high-field proj-high-field"
            "proj-keys-field proj-keys-field"
            "proj-timg-field proj-timg-field";
    }
}

@media screen and (min-width: 768px) {
    .res-summary-form, .work-form .input-group:nth-child(6) {
        max-width: 640px;
    }

    .work-form {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "work-name-field work-position-field work-location-field"
            "work-stdt-field work-endt-field ."
            "work-summ-field work-summ-field work-url-field"
            "work-high-field work-high-field work-high-field"
            "work-timg-field work-timg-field work-timg-field";
    }

    .proj-form {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "proj-name-field proj-entity-field proj-type-field"
            "proj-stdt-field proj-endt-field ."
            "proj-roles-field proj-roles-field proj-url-field"
            "proj-desc-field proj-desc-field proj-desc-field"
            "proj-high-field proj-high-field proj-high-field"
            "proj-keys-field proj-keys-field ."
            "proj-timg-field proj-timg-field proj-timg-field";
    }

    .skillAndLangForm {
        max-width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .res-profiles-form {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "prof1-field prof2-field prof3-field"
    }
}
