.badge.bg-landingpage {
  background-color: "#D65F23";
}
.badge.bg-prototype {
  background-color: "#BDFF79";
}
.badge.bg-restulfapi {
  background-color: "#FEF7EB";
}
.badge.bg-webapp {
  background-color: "#D636C6";
}
.badge.bg-e-store {
  background-color: "#FFF316";
}
.badge.bg-website {
  background-color: "#0168EE";
}
